*{
    padding: 0;
    margin: 0;
}
.nav{
    background: #34495e;
    color: white;
}
#git-logo{
width: 70px;

padding-top: 4px;
color: white;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 25px 10px 0 0;
    padding: 4px;
    border: 2px solid transparent;
    
}
.nav ul li a{
    text-decoration: none;
    color: white;

}

.nav ul li:hover, #home{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    
}

/* navigation :end */

/* templet :start */

#templet {
    
    background: url(image/git-templet.jpg);
    background-size: cover;
}
#templet h2{
    margin-top: 20% ;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

#templet p{
    background-color: #f1c40fde;
    padding: 5px 10px;
}

/* template are complete */

/* section-1 are :start */

#section-1{
    background-color: #95a5a6bd;
}

