* {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  display: inline-block;
}

.btn {
  margin: 10px 2px 2px 2px;
  box-shadow: 1px 1px 1px .5px white;
}
.btn:focus{
  background-color: greenyellow;
}


.nav {
  background: #34495e;
  color: white;
}
#git-logo {
  width: 70px;

  padding-top: 4px;
  color: white;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin: 25px 10px 0 0;
  padding: 4px;
  border: 2px solid transparent;
}
.nav ul li a {
  text-decoration: none;
  color: white;
}

.nav ul li:hover,
#home {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
}

/* navigation :end */

/* templet :start */

#templet {
  background: url(image/git-templet.jpg);
  background-size: cover;
}
#templet h2 {
  margin-top: 20%;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

#templet p {
  background-color: #f1c40fde;
  padding: 5px 10px;
}

/* template are complete */

/* section-1 are :start */

#section-1 {
  background-color: #95a5a6bd;
}

#section-2 .container {
  border: 2px solid black;
  position: relative;
  background-color: rgb(231, 230, 230);
  margin: 10px auto 90px auto;
}

#set-list,
#check-list,
.hide {
  display: none;
}
#section-2 #result {
  border: 2px solid black;
  background-color: white;
  height: 50%;
  width:80%;
  overflow: scroll;
  text-align: center;
  padding: 20px;
}

.btn-set{
  margin-bottom: 10px;
}


.content-1, .content-2{

  padding-bottom: 10px;
  margin-top:  10px;
  text-align: center;
}
